body {
    text-align: center;
    margin-top: 500px;
    background-color:aquamarine;
}

#Welcome {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(#00fff7 0%, #0037ff 100%);
    width: 100%;
    height: 100%;
    color: aliceblue;
    display: table;
}

#img1 {
    width: 175px;
    border-radius: 50%;
    margin-bottom: 50px;
    margin-top: 70px;
}

h1 {
    font-size: 40px;
    font-weight: 400;
    font-family: inherit;
}

#Name {
    font-size: 30px;
    font-family:'Cinzel Decorative', cursive;  
    font-weight: bold;
}

#WWW {
    font-size: 30px;
    font-family: monospace;
    font-weight: 300;
}

#Bio {
    padding-top: 500px;
}

p {
    font-size: 17px;
    font-family: monospace;
    font-weight: 300;
    margin: auto;
    max-width: 450px;
}

.Line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 25px auto;
}

#Menu {
    font-family:sans-serif;
    position: absolute;
    z-index: 10;
    list-style:none;
    top: 20px;
    right: 30px;
    cursor: pointer;
}

.Links {
    float: left;
    color: darkcyan;
    padding:11px;
    font-family: fantasy;
    font-size: 20px;
}

.Links:hover {
    background-color: ghostwhite;
}
html {
    scroll-behavior: smooth;
}

.Article:hover {
    color: dodgerblue;
    
}